@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

/* Set default font for the body */
body {
  font-family: "Roboto", sans-serif;
}

.bg-primary {
  background-color: #000b26 !important;
}

/* Set Roboto Condensed specifically for H1 with 700 Font Weight */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.custom-btn {
  background-color: #000b26;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: white;
  color: #000b26;
}

.custom-btn:active {
  background-color: white;
  color: #000b26;
}
